@font-face {
    font-family: forte;
    src: url("FORTE.WOFF");
}

@font-face {
    font-family: vtc;
    src: url("VTC Letterer Pro Regular.ttf");
}

@font-face {
    font-family: troika;
    src: url("troika.otf");
}